<div class="card">
    <div class="card-header">
        <h2>Categories:</h2>
    </div>
    <div class="card-body">
        <a href="/categories/5">Books</a>
        <a href="/categories/2">Movies</a>
        <a href="/categories/3">Music</a>
        <a href="/categories/4">Sports</a>
        <a href="/categories/1">TV Shows</a>
    </div>
</div>