 <form class="post-form">   
    <div class="card">
        <div class="card-header">
            <h2>Create Post</h2>
        </div>
        <div class="card-body">
            <label for="title-post">Title:</label>
            <input type="text" id="title"/>
            <br/>
            <label for="body-post">Body:</label>
            <textarea id="body"></textarea>
            <br/>
            <label for="category-post">Category:</label>
            <select name="category" id="category">
                <option value="5">Books</option>
                <option value="1">TV Shows</option>
                <option value="2">Movies</option>
                <option value="3">Music</option>
                <option value="4">Sports</option>
            </select>
            <button type="submit" id="create-post" data-item={{user_id}}>Post</button>
        </div>
    </div>
</form>

<script src="/js/newPost.js"></script>