<div class="category-cont">
    {{#each categories as |category| }}
    <div class="card">
        <div class="card-header">
            <h2>{{category.name}}</h2>
        </div>
        <div class="card-body">
            {{#each posts as |post|}}
            <div class="post-card">
                <h5>{{post.title}}</h5>
                <p>{{post.body}}</p>
                <span>{{post.username}}</span>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>