<form id="signup" action="submit">
    <div class="card">
        <div class="card-header">
            <h2>Sign Up!</h2>
        </div>
        <div class="card-body">
            <label for="email-signup">Email:</label>
            <input id="email" type="email"/>
            <br/>
            <label for="username-sign">Username:</label>
            <input id="username" type="text"/>
            <br/>
            <label for="password-signup">Password:</label>
            <input id="password" type="password"/>
            <br/>
            <label for="password-confirm-signup">Confirm Password:</label>
            <input id="confirm-password" type="password">
            <button type="submit">Sign up</button>
        </div>
    </div>
</form>

<script src="/js/signup.js"></script>