<form id="signup" action="submit">
    <div class="container">
        <div class="tv-show">
            <div class="card-header">
                <h2>Sign Up!</h2>
            </div>
            <div class="card-body">
                <label for="email-signup">Email:</label>
                <input id="email" type="email"/>
                <br/>
                <label for="username-sign">Username:</label>
                <input id="username" type="text"/>
                <br/>
                <label for="password-signup">Password:</label>
                <input id="password" type="password"/>
                <br/>
                <label for="password-confirm-signup">Confirm Password:</label>
                <input id="confirm-password" type="password">
                <br/>
                <label for="avatar-image-signup">Select an Avatar Image:</label>
                <div class="avatar-img-cont">
                    <img style="width: 25%;" data-url="/Images/heart.png" src="/Images/heart.png" alt="image of heart"/>
                    <img style="width: 25%;" data-url="/Images/aligator.png" src="/Images/aligator.png" alt="image of aligator"/>
                    <img style="width: 25%;" data-url="/Images/butterfly.png" src="/Images/butterfly.png" alt="image of butterfly"/>
                    <img style="width: 25%;" data-url="/Images/sun.png" src="/Images/sun.png" alt="image of sun"/>
                    <img style="width: 25%;" data-url="/Images/real-heart.png" src="/Images/real-heart.png" alt="image of real heart"/>
                </div>
                <br/>
                <button type="submit">Sign up</button>
            </div>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="/js/signup.js"></script>