:root{
   --aqua:#5DFDCB;
    --skyblu:#90D7FF;
    --lgtblu:#C9F9FF;
    --gryblu:#BFD0E0;
    --lavendergry:#B8B3BE;
}
 
body
{background-color: var(--gryblu);
    text-align: center;
    text-shadow: 1,1,1 navy;
}
h1{
    font-family: "Times New Roman", Times, serif;
    text-align: left;

}
.nav{
    text-align: left;
}
    

a.nav{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
.category-cont{
    background-color: var(--skyblu);
    animation-fill-mode:none;
    animation-delay: 3s;
    border-radius: 15px 50px 30px;

}
.tv-show{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10cm; 
    border-spacing: 10cm;
    border-radius: 15px;
}
.post{
    padding:2px 16px;
    border-radius: 15px;
    border-spacing: 10cm;
}
.movies{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10cm; 
    border-spacing: 10cm;
    border-radius: 15px;
}
.music{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10cm; 
    border-spacing: 10cm;
    border-radius: 15px;
}
.sports{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10cm; 
    border-spacing: 10cm;
    border-radius: 15px;
}
.books{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10cm; 
    border-spacing: 10cm;
    border-radius: 15px;
}
.card :hover{
border-style: ridge;

}
.card-header{
text-align: center;
background-color: var(--gryblu);
color: black;
}
.card-body{
background-color: var(--lgtblu);
color: navy;
}
.comment-card{
    background-color: aquamarine;
    text-decoration-color: black;
}
.comment-card :hover{
    color: rgb(27, 154, 147) ;
}
#email{
    float: center;
    color: navy;
    box-shadow: navy;
    border: thick;
}
#password{
    float: center;
    color: black;
    box-shadow: navy;
    border: thick;
}
#login-btn{
    float: center;
    background-color: palegreen;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
#login-btn :hover{
    background-color: rgb(135, 189, 135);
      }