:root{
   --aqua:#5DFDCB;
    --skyblu:#90D7FF;
    --lgtblu:#C9F9FF;
    --gryblu:#BFD0E0;
    --lavendergry:#B8B3BE;
}

* {
    box-sizing: border-box;
  }
body
{
    background-color: var(--lgtblu);
    text-align: center;
    text-shadow: 1,1,1 navy;
}
h1{
    display: flex;
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    width: 50%;
}
.nav{
    display: flex;
    text-align: left;
    width: 50%;
}  

.nav a{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    padding: 14px 20px;
}

.category-cont{
    display:inline-flex;
    flex-wrap: wrap;
    animation-fill-mode:forwards;
    animation-delay: 3s;
    border-radius: 50px;
    
}


.tv-show{
    flex-direction: row;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-fill-mode:forwards;
    animation-delay: 3s;
        width: 20%;
    background-color: var(--skyblu);
    border-radius: 25px;
}
.movies{
    flex-direction: row;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 20%;
    background-color: var(--skyblu);
    opacity: .75;
    border-radius: 25px;
}
.music{
    flex-direction: row;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 20%;
    background-color: var(--skyblu);
    border-radius: 25px;
}
.sports{
    flex-direction: row;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 20%;
    background-color: var(--skyblu);
    opacity: .75;
    border-radius: 25px;
    
}
.books{
    flex-direction: row;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 20%;
    background-color: var(--skyblu);
    border-radius: 25px;
}
.card :hover{
    color: var(--aqua);

}
.card-header{
    text-align: center;
    background-color: var(--gryblu);
    color: black;
}
.card-body{
    flex-direction: column;
    background-color: var(--lgtblu);
    color: navy;
}
.comment-card{
    background-color: rgb(38, 99, 79);
    text-decoration-color: black;
}
.comment-card :hover{
    color: rgb(27, 154, 147);
}
#email{
    float: center;
    color: navy;
    box-shadow: navy;
    border: thick;
}
#password{
    float: center;
    color: black;
    box-shadow: navy;
    border: thick;
}
#login-btn{
    float: center;
    background-color: palegreen;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
#login-btn :hover{
    background-color:coral;
      }

#login-btn :active{
        background-color:rgb(171, 34, 139);
          }
.category-header{
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
}
.category-body{
    flex: auto;
    font-weight: bold;
    padding: 14px 20px;
    align-items: center; 
    font-size: x-large;
}
.category-body a{
    padding: 14px 20px;
}
.post-title{
    font-size: xx-large;
    font-style: italic;
    text-shadow: darkblue;
}
.post-card{
    font-size: xx-large;
    font-style: italic;
    text-shadow: darkblue;
}
.post-body{
    font-size: x-large;
    text-shadow: darkblue;
}
.post-category{
    font-weight: bolder;
}
.signup-body{
    font-size: xx-large;
    font-weight: bold;
}
.signup-header{
    font-size: xx-large;
    font-weight: bold;
}
.post-cont{
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
}
@media only screen and (max-width: 780px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    header h1 {
        margin-left: 0;
    }

    header nav {
        margin-right: 0;
    }
    
    .space {
        height: 100px;
    }

    .card {
        width: 600px;
    }
}

@media only screen and (max-width: 640px) {
    .card {
        width: 500px;
    }
}

@media only screen and (max-width: 530px) {
    .card {
        width: 400px;
    }
}

@media only screen and (max-width: 430px) {
    .dashboard-card {
        /* width: 250px; */
        flex-direction: column;
    }

    .card {
        width: 300px;
    }
}
/*
@media screen and(max-width:992px){
    .column{
        width:50%
    }
}
@media screen and (max-width: 600px) {
    .column {
      width: 50%;
    }
  }
  */